@use 'colors';
@use 'sass:color';

/* BUTTON STYLES */
.button {
    background-color: colors.$pink;
    color: colors.$purple-blue;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 30px;
  }
  
  .button:hover {
    background-color: lighten(colors.$pink, 10);
  }
  
  .button a {
    color: colors.$purple-blue;
  }