.button {
    background-color: $pink;
    color: $purple-blue;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 30px;
  }
  
  .button:hover {
    background-color: $hover-pink;
  }
  
  .button a {
    color: $purple-blue;
  }