@use 'colors';
/* GENERAL LAYOUT STYLES */
html {
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
  }
  
  figure {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  
  img {
    max-width: 100%;
  }

  .content-wrapper {
    width: 85%;
    margin: 50px 0;
  }

  .icon {
    display: inline-block;
    color: colors.$gray-white;
    fill: currentColor;
    font-size: 32px;
    height: 1em;
    width: 1em;
  }

  .icon-github,
  .icon-linkedin {
  }