/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***** GENRAL STYLES *****/
html {

}

body {
  line-height: 1.4;
  min-height: 100vh;
}

h1 {
  color: #EEE4F0;
  font-family: 'Lexend Tera', sans-serif;
  padding-bottom: 30px;
}

h2 {
  color: #EEE4F0;
  font-family: 'Lekton', sans-serif;
  margin-top: 30px;
}

h3 {
  font-size: 1.75rem;
  font-family: 'Lekton', sans-serif;
  margin-top: 60px;
  margin-bottom: 40px;
}

h4 {
  color: #351D77;
  font-family: 'Lekton', sans-serif;
  font-size: 1.33em;
  margin-bottom: 40px;
}

p {
  color: #351D77;
  font-family: 'Lekton', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #EEE4F0;
  font-family: 'Lekton', sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  color: #EEE4F0;
  font-family: 'Lekton', sans-serif;
  font-size: 1.25rem;
}

figure {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

img {
  max-width: 100%;
}

header,
.hero-area,
#work,
#skills,
#about,
footer {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 85%;
  margin: 50px 0;
}

header, 
#skill-section, 
#contact {
  background-color: #351D77;
}

#projects,
#about {
  background-color: #EEE4F0;
}

.button {
  background-color: #f87795;
  color: #351D77;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 30px;
}

.button:hover {
  background-color: #F4BEDC;
}

.button a {
  color: #351D77;
}

/***** HEADER STYLES *****/

header {
  padding-top: 30px;
  padding-bottom: 60px;
}

header .content-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 30px 0;
  padding: 0;
  text-transform: uppercase;
}

header nav ul li {
  
}

.hero-area .content-wrapper {
  margin-top: 20px;
}

.greeting,
.avatar,
.greeting-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.greeting-info {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/**** MAIN SECTION STYLES *****/

main {
  flex-flow: column wrap;
}

main .content-wrapper {
  margin: 0;
}

/***** HERO AREA *****/
/* Tooltip text */
.tooltip .tooltiptext {
  background-color: #03dca2;
  border-radius: 6px;
  color: #351D77;
  font-family: 'Lekton', sans-serif;
  padding: 8px 5px;
  text-align: center;
  visibility: hidden;
  width: 175px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/***** PROJECTS *****/

#projects {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding: 20px 2rem;
}

#projects .content-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

#projects figure {
  filter: drop-shadow(1px 2px 6px gray);
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#projects h3 {
  color: #351D77;
}

.project-description-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 20px;
}
.project-description {
  margin: 20px 0;
}

.highlight-one {
  background-color: #E9B14C;
}

.highlight-two {
  background-color: #03dca2;
}

.button:hover {
  background-color: #F4BEDC;
}

/***** SKILLS *****/
#skill-section h3 {
  color: #EEE4F0;
  margin-top: 60px;
  margin-bottom: 40px;
}

#skill-section .dev-skills {
  color: #E9B14C;
}

#skill-section .tech-stack {
  color: #03dca2;
}

#skill-section {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
}

#skill-section .content-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  line-height: 2;
  padding-bottom: 40px;
}

/***** ABOUT SECTION *****/
#about h3 {
  color: #351D77;
}

#about h4 {
  text-decoration: none;
}

#about {
  padding: 60px 0;
}

#about p {
  margin-bottom: 30px;
}

#about .cant-wait {
  font-weight: bold;
}

/***** FOOTER SECTION *****/
#contact h3 {
  color: #EEE4F0;
}

#contact h4 {
  color: #EEE4F0;
}

#contact {
  padding: 80px 0;
}

#contact .content-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
}

.points-of-contact {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.social-media ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.meet-me,
.contact-info {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.meet-me p {
  color: #EEE4F0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/********** TABLET STYLES **********/
@media only screen and (min-width: 768px) {
  /***** GENERAL *****/
  .content-wrapper {
    max-width: 640px;
  }

  a {
    font-size: 1.25rem;
  }
 
  /***** PROJECTS *****/
  #projects {
    
  }

  #projects h3 {
    font-size: 3rem;
  }

  .project-container {
    justify-content: space-between;
    margin: 20px 15px;
    height: 600px;
    width: 45%;
  }

  #projects .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  /***** SKILLS *****/
  #skill-section .content-wrapper {
    align-items: start;
    flex-direction: row;
    justify-content: space-around;
  }

  .skills {
    padding-right: 30px;
  }
  
  /***** FOOTER *****/
  .points-of-contact {
    flex-direction: row;
    align-items: start;
  }

  .meet-me,
  .social-media,
  .contact-info {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 960px;
  }

  /***** HERO AREA *****/
  .hero-area .content-wrapper {
    display: grid;
    grid-template-columns: 580px 380px;
    grid-template-rows: 200px 300px;
  }

  .avatar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .greeting {
    align-items: end;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .greeting-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /***** ABOUT *****/
  #about .content-wrapper {
    display: flex;
  }

  #about figure {
    min-width: 300px;
    padding-right: 3em;
  }

  /***** FOOTER *****/
  .points-of-contact {
    align-items: start;
  }

  .contact-info,
  .social-media,
  .meet-me {
    padding: 0 15px;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

